
.boardbase {width: 309px; height:326px;}
#boardbase {width:323px; height:337px;}
.board {width:286px; height: 312px;}
.komadai {width:100px; height:150px;}
.komadai img,.koma, .marker {width:30px; height:33px;}
.comment {padding-left:7px; width:409px;height:100px; overflow:auto;}
.buttonBar {position: absolute;  bottom: 106px; left: 74px; height: 20px; z-index: 10;}
.bbBox {height: 25px; width:409px;}

.c1 {left:258px;} .c2 {left: 228px;} .c3 {left:198px;}
.c4 {left:168px;} .c5 {left: 138px;} .c6 {left:108px;}
.c7 {left:78px;} .c8 {left: 48px;}  .c9 {left: 18px;}
.r1 {top:17px;}   .r2 {top:50px;}    .r3 {top:83px;}
.r4{top:116px;}   .r5{top:149px;}    .r6 {top:182px;}
.r7{top:215px;}   .r8{top:248px;}    .r9{top:281px;}